[submodule "slash-runner"]
	path = slash-runner
	url = https://github.com/N0VI028/JS-Slash-Runner.git
[submodule "tests/json-patch-tests"]
	path = tests/json-patch-tests
	url = https://github.com/json-patch/json-patch-tests.git
[submodule "tests/json5-tests"]
	path = tests/json5-tests
	url = https://github.com/json5/json5-tests.git
